.figure {
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure--content-wrapper {
}

.figure--figure,
.figure--title {
  display: block;
}

.figure--figure {
  font-size: 310%;
}

.figure--title {
  font-size: 80%;
}