.title {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title--content-wrapper {
}

.title--main,
.title-sub {
  display: block;
}

.title--main {
  font-size: 80%;
  font-weight: 800;
}

.title-sub {
  font-size: 60%;
  font-weight: 800;
}
