.income-container {
  height: 100%;
}

.income-title,
.income-title--top,
.income-title--bottom {
  height: 50%;
}

.income-charts__left,
.income-charts__right {
  float: left;
  width: 50%;
}

.income-title--bottom__half {
  width: 50%;
  float: left;
}
